body{

margin:0;

background:black;

overflow:hidden;

}

.cielo{

width:100vw;

height:100vh;

background:black;

position:relative;

}

.luna{

width:90px;

height:90px;

background:#fff7d1;

border-radius:50%;

position:absolute;

top:40px;

right:50px;

box-shadow:

0 0 30px white,

0 0 80px #fff7d1;

}

.estrella{

position:absolute;

color:white;

font-size:28px;

}

.e1{

top:10%;

left:20%;

}

.e2{

top:20%;

left:50%;

}

.e3{

top:15%;

left:80%;

}

.e4{

top:30%;

left:10%;

}

.e5{

top:45%;

left:70%;

}

.e6{

top:60%;

left:35%;

}

.e7{

top:25%;

left:90%;

}

.e8{

top:70%;

left:55%;

}

.tierra{

width:100%;

height:100px;

background:

linear-gradient(

to top,

#2b1508,

#5e3317,

#7a4723

);

position:absolute;

bottom:0;

border-top-left-radius:50%;

border-top-right-radius:50%;

box-shadow:

0 0 50px #8b5a2b,

0 0 100px #5e3317;

}

/* RAMO */

.ramo{

position:absolute;

bottom:35px;

left:50%;

transform:translateX(-50%);

width:350px;

height:350px;

}


/* TALLOS */

.tallo{

position:absolute;

bottom:0;

width:8px;

height:0;

background:#2e8b57;

border-radius:20px;

box-shadow:

0 0 10px #2e8b57,

0 0 20px #2e8b57;

animation:

crecer 1.5s forwards;

}


/* POSICIONES */

.t1{

left:90px;

transform:rotate(-25deg);

animation-delay:0s;

}


.t2{

left:120px;

transform:rotate(-20deg);

animation-delay:.4s;

}


.t3{

left:145px;

transform:rotate(-8deg);

animation-delay:.8s;

}


.t4{

left:170px;

animation-delay:1.2s;

}


.t5{

left:195px;

transform:rotate(8deg);

animation-delay:1.6s;

}


.t6{

left:215px;

transform:rotate(20deg);

animation-delay:2s;

}


.t7{

left:245px;

transform:rotate(25deg);

animation-delay:2.4s;

}



/* CRECER */

@keyframes crecer{

from{

height:0;

}

to{

height:220px;

}

}



/* FLORES */

.flor{

position:absolute;

bottom:210px;

left:-20px;

width:45px;

height:75px;

background:#ff69b4;

border-radius:

50% 50%

45% 45%;

box-shadow:

0 0 20px #ff69b4,

0 0 50px #ff8fc7;

transform:scale(0);

animation:

abrir 1s forwards;

}


/* ABRIR */

@keyframes abrir{

from{

transform:scale(0);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}



/* RETARDOS */

.f1{

animation-delay:1.2s;

}

.f2{

animation-delay:1.6s;

}

.f3{

animation-delay:2s;

}

.f4{

animation-delay:2.4s;

}

.f5{

animation-delay:2.8s;

}

.f6{

animation-delay:3.2s;

}

.f7{

animation-delay:3.6s;

}



/* MENSAJE */

.mensaje{

position:absolute;

left:50%;

bottom:110px;

transform:translateX(-50%);

font-size:70px;

opacity:0;

z-index:100;

animation:

mostrarMensaje 2s forwards;

animation-delay:7s;

animation-fill-mode:forwards;

text-shadow:

0 0 15px white,

0 0 35px #ff69b4,

0 0 70px #ff69b4;

}

@keyframes mostrarMensaje{

from{

opacity:0;

transform:

translateX(-50%)

translateY(20px);

}

to{

opacity:1;

transform:

translateX(-50%)

translateY(0);

}

}


@keyframes mostrar{

from{

opacity:0;

}

to{

opacity:1;

}

}

/* PETALOS */

.petalo{

position:absolute;

top:-50px;

font-size:28px;

opacity:0;

animation:

caer 8s linear infinite;

}



/* POSICIONES */

.p1{

left:8%;

animation-delay:0s;

}


.p2{

left:20%;

animation-delay:1s;

}


.p3{

left:35%;

animation-delay:2s;

}


.p4{

left:50%;

animation-delay:3s;

}


.p5{

left:65%;

animation-delay:4s;

}


.p6{

left:78%;

animation-delay:5s;

}


.p7{

left:88%;

animation-delay:6s;

animation-fill-mode:forwards;

}


.p8{

left:95%;

animation-delay:7s;

}



/* ANIMACION */

@keyframes caer{

0%{

transform:

translateY(0)

rotate(0deg);

opacity:0;

}


10%{

opacity:1;

}


100%{

transform:

translateY(900px)

rotate(360deg);

opacity:0;

}

}

/* CORAZON */

.corazon{

position:absolute;

left:50%;

bottom:260px;

transform:

translateX(-50%)

scale(0);

font-size:120px;

color:#ff0000;

opacity:0;

text-shadow:

0 0 20px red,

0 0 50px #ff0000,

0 0 100px #ff4d4d,

0 0 150px red;

animation:

aparecerCorazon 2s forwards;

animation-delay:6s;

animation-fill-mode:forwards;

}



@keyframes aparecerCorazon{

0%{

opacity:0;

transform:

translateX(-50%)

scale(0);

}



70%{

opacity:1;

transform:

translateX(-50%)

scale(1.3);

}



100%{

opacity:1;

transform:

translateX(-50%)

scale(1);

}

}

@keyframes escribir{

from{

width:0;

opacity:1;

}

to{

width:100%;

opacity:1;

}

}

@keyframes mostrarMensaje{

from{

opacity:0;

transform:

translateX(-50%)

translateY(30px);

}

to{

opacity:1;

transform:

translateX(-50%)

translateY(0);

}

}

